@model IEnumerable<DemoMVC.Models.ApplicationUser>

<table class="table">
    <thead>
        <tr>
            <th>Full Name</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.FullName</td>
                <td>@item.Email</td>
            </tr>
        }
    </tbody>
</table>
